body{
    background-color: rgba(225, 235, 236, 0.193);
}
div,h1{
    color: red;
    text-align: center;
    margin: 10px;
}
.btn{
    border-radius: 10px;
    background-color: rgb(125, 94, 211);
    color: white;
    height: 40px;
    margin-top: 10px;
}
#kural{
    background-color: rgba(224, 233, 233, 0.775);
    color: black;
    text-align: right;
    width: 200px;
}

h4{
    color: blue;
}
h2{
    color: yellow;
}
h5{
    color: black;
}